{% extends 'base.html' %} {% block title %} Event Details | {{ name }} {%
endblock %}{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{ name }}</h2>

      <p>{{ description }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      <img src="{{ image }}" />

      <p>
        <a href="{{ event_url }}" target="_blank"> Go to Ticketmaster page </a>
      </p>
    </div>

    <div class="col">
      <h3>Start date</h3>
      <p>{{ start_date }}</p>

      <h3>Venues</h3>
      <ul>
        {% for venue in venues %}
        <li>{{ venue }}</li>
        {% endfor %}
      </ul>

      <h3>Classifications</h3>
      <ul>
        {% for classification in classifications %}
        <li>{{ classification }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
